.PokedexWrapper{
    width: 100%!important;
    margin-left: 1%;
    border: 1px solid black;
}
.ChosenPokemonWrapper{
    background-image: url("https://cdn.wallpapersafari.com/28/70/nak4oe.jpg");
    border: 3px solid rgb(2,27,75);
    width: 300px;
    position: fixed;
    top: 5%;
    left: 60%;
    padding: 20px;
}
@media screen and (max-width: 1100px) {
    .ChosenPokemonWrapper{
        width: 300px;
        top: 5%;
        left: 55%;

    }
}
@media screen and (max-width: 900px) {
    .ChosenPokemonWrapper{
        width: 200px;
        top: 5%;
        left: 60%;

    }
}
@media screen and (max-width: 700px) {
    .ChosenPokemonWrapper{
        width: 200px;
        top: 5%;
        left: 50%;

    }
}
@media screen and (max-width: 500px) {
    .ChosenPokemonWrapper{
        width: 170px;
        top: 5%;
        left: 50%;

    }
}
@media screen and (max-width: 380px) {
    .ChosenPokemonWrapper{
        width: 150px;
        top: 5%;
        left: 50%;

    }
}
.inlineBlock{
    display: inline-block;
}
.PokedexWrapper .PokemonCard {
    display: inline-block;
}
.PokemonCard{
    color: black;
    margin: 20px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    border: 3px solid rgb(2,27,75);
    border-radius: 4px;
    width: 200px;
    overflow: hidden;
    background-color: rgb(230, 229, 229);
}
.PokemonCard:hover{
    border-color: transparent;
    cursor: pointer;
}

.PokedexName{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.PokedexWrapper .PokemonImg{
    display: block;
    margin: auto;
    margin-top: 15px;
    border: 3px solid rgb(2,27,75);
    border-radius: 4px;
    width: 150px;
    overflow: hidden;
    background-color: white;

}
.PokemonName{
    font-weight: bold;
    text-align: center;
}
.types{

    display: inline-block;
    text-align: center;
    width: 80px;
    border-radius: 5px;
    padding: 5px 0px ;
    margin: 15px 4px;
    border: 1px solid black;
}
.typesWrapper{
    margin: 5px 10px;
}
.LoadMore{
    width: 70%;
    margin: 0 80px;
    margin-bottom: 20px;

}
.LoadMore button {
    color: white;
    font-size: 22px;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    background-image: linear-gradient(to bottom, #5a4dae, #483d8b);
    border: 2px solid black;

}
.LoadMore button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #51459d, #483d8b);
}
